Repository pmaishev/dls2023-pm-final-project_tb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint and test, build-base, build, deploy

lint and test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    DOCKER_REGISTRY: registry.gitlab.com
    DOCKER_USERNAME: gitlab-ci-token
    GROUP_NAME: dls2023-pm-final-project
    PROJECT_NAME: bot
    VERSION: $CI_PIPELINE_IID
  stage: qa
  image: python:3.8-slim
  script:
  - pip install -r requirements.txt
  ...

build-base:
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password-stdin
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    DOCKER_REGISTRY: registry.gitlab.com
    DOCKER_USERNAME: gitlab-ci-token
    GROUP_NAME: dls2023-pm-final-project
  ...

build:
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password-stdin
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    DOCKER_REGISTRY: registry.gitlab.com
    DOCKER_USERNAME: gitlab-ci-token
    GROUP_NAME: dls2023-pm-final-project
  ...

deploy:
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password-stdin
  stage: deploy
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    DOCKER_REGISTRY: registry.gitlab.com
    DOCKER_USERNAME: gitlab-ci-token
    GROUP_NAME: dls2023-pm-final-project
  ...

LBFGS optimizer
  config.py
  data_test/2/dancing.jpg
  data_test/2/picasso.jpg
  model/style_transfer.py
  tests/test.py
Due: lint and test, build, deploy

results files
  data_test/0/result_2000.png
  data_test/0/result_50.png
  data_test/1/result_2000.png
  data_test/1/result_50.png
  data_test/2/result.png
Due: lint and test, build, deploy

results files
  tests/test.py
Due: lint and test, build, deploy

FIX: tests
  tests/test.py
Due: lint and test, build, deploy

FIX: messages
  app.py
  config.py
  model/style_transfer.py
Due: lint and test, build, deploy

WIP: read.me
  README.md
  app.py
  config.py
  data_test/2/result_50.png
  model/style_transfer.py
Due: none

WIP: read.me
  README.md
Due: none

WIP: fast style transfer
  app.py
  model/style_transfer_msg.py
  tests/test.py
Due: lint and test, build, deploy

WIP: fast style transfer
  model/style_transfer_msg.py
Due: lint and test, build, deploy

WIP: fast style transfer
  .gitlab-ci.yml
  tests/test.py
Due: lint and test, build, deploy

FIX: path to msgnet_21_styles.pth and output image size
  model/style_transfer_msg.py
  tests/test.py
Due: lint and test, build, deploy

FIX: path to msgnet_21_styles.pth and output image size
  tests/test.py
Due: lint and test, build, deploy

Readmee
  README.md
  app.py
Due: none

Docking and styling
  app.py
  config.py
Due: lint and test, build, deploy

FIX: message_handler
  app.py
  model/style_transfer.py
Due: lint and test, build, deploy

Gitlab actions
  .github/workflows/docker-image.yml
  build/Dockerfile
Due: lint and test, build, deploy

lfs
  cnn/vgg19.pth
Due: lint and test, build-base, build, deploy

CI: Github
  .github/workflows/docker-image.yml
Due: lint and test, build, deploy

CI: Github
  .github/workflows/docker-image.yml
  tests/test.py
Due: lint and test, build, deploy

CI: github
  .github/workflows/docker-image.yml
Due: lint and test, build, deploy

WIP: gitlab actions
  .github/workflows/docker-image.yml
Due: lint and test, build, deploy

vgg
  .gitattributes
  cnn/vgg19.pth
Due: lint and test, build-base, build, deploy

texts
  config.py
Due: lint and test, build, deploy

lfs true, github actions
  .github/workflows/docker-image.yml
Due: lint and test, build, deploy

read me
  README.md
Due: none

deploy timeout
  .github/workflows/docker-image.yml
Due: lint and test, build, deploy

Update README.md
  README.md
Due: none

Path conditions:
  lint and test: not (any of: *.md)
  build-base: any of: requirements.txt, cnn/*, build/DockerfileBase
  build: not (any of: *.md)
  deploy: not (any of: *.md)
